body {
  background-color: lightblue;
  box-shadow: 2px 2px 1px 1px lightgray;
  background-color: white;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #088A85;
  height: 240px;
  backgrou

}




img {


border-width: 10px;
border-style: solid;
border-color: #088A85;
border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

main {
  margin-top: 230px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%

     }

     .grid-container p {
       margin: 30px;
     }

h1 {color: gray ;
  margin-left: 30px;
  margin-top: 10px;
  font-style: normal ;
font-family: fantasy;
text-shadow: 2px 2px 2px black;

 }
 audio {
margin-left: 115px;


 }
 video {
   margin-right: 30px;

 }


  .links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-gap: 100px;
    margin-left: 5px;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


  .links a {
    border-radius: 4px;
    padding: 20px;
    padding-left: 120px;
    padding-right: 120px;
    font-style: italic;
    flex-basis: 450px
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;


    color: black;
    text-decoration: none;
    background-color: white;
    font-weight: bold;

  }

  .links a:hover {
    text-decoration: underline;
    background-color: gray;
    z-index: 2;
    box-shadow: 2px 2px 1px 1px black;
  }
